.hugo_build.lock
public/
resources/_gen/
/about/
/affiliate-disclosure/
/categories/
/contact/
/how-we-review/
/posts/
/privacy-policy/
/tags/
/page/
/images/
/assets/css/stylesheet.*.css
/*.html
/*.xml
/favicon*.ico
/favicon*.png
/apple-touch-icon*.png
/safari-pinned-tab.svg
