{{- $rawURL := .Get "url" -}}
{{- $text := .Get "text" | default "Check Price on Amazon →" -}}
{{- $tag := .Site.Params.amazonTag -}}
{{- $joiner := "?" -}}
{{- if in $rawURL "?" -}}
  {{- $joiner = "&" -}}
{{- end -}}
{{- $href := printf "%s%stag=%s" $rawURL $joiner $tag -}}
<div class="amazon-box">
  <p class="amazon-disclosure">Affiliate link: As an Amazon Associate, we earn from qualifying purchases at no extra cost to you.</p>
  <a class="amazon-cta" href="{{ $href | safeURL }}" target="_blank" rel="nofollow noopener">{{ $text }}</a>
</div>
